.action {
	background-image: url('./../img/bg-action.jpg');
	background-size: cover;
	background-position: center center;
	z-index: 0;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.wrapper {
		position: relative;
		z-index: 2;
	}

	&-wrapper {
		position: relative;
		@include row-flex();
	}

	&-descr {
		@include col();
		@include size(8);
		@include size-md(7);
		@include size-sm(12);
		color: #fff;

		.block-header {
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 0;
			padding-bottom: 15px;
		}
	}

	&-form {
		@include col();
		@include size(4);
		@include size-md(5);
		@include size-sm(12);

		form {
			max-width: 350px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.form h3 {
		text-transform: none;
		@include pix-to-rem(20px);
		border-bottom: 0;
		padding-bottom: 0;
	}
}
