footer {
	display: block;
	padding: 35px 15px;

	text-align: center;
	@include pix-to-rem(14px);

	background-color: $bgcolor-02;
	color: lighten($color-default, 50%);

	@media screen and (max-width: $break_sm) {
		padding: 35px 15px 77px 15px;
	}

	a {
		color: lighten($color-default, 50%);
		text-decoration: none;
		border-bottom: 1px dashed lighten($color-default, 50%);

		&:hover {
			color: $color-akcent;
			border-bottom: 1px dashed $color-akcent;
		}
	}

	p {
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 1.25;
		font-size: 14px;
	}

	img {
		margin-left: 5px;
		margin-right: 5px;
	}

	.statistic {
		margin-top: 15px;
	}

	.razr {
		color: $color-akcent4;
		margin-bottom: 0;
		@include pix-to-rem(12px);
	}
}
