.courses {
    text-align: center;
    background-color: #fff;
    background-image: url('./../img/bg-student-student.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}