.promo {
	display: block;
	background-color: $color-akcent3;
	padding-top: 25px;
	padding-bottom: 25px;
	overflow: hidden;

	.wrapper {
		position: relative;
		overflow: hidden;
		//min-height: 280px;
	}

	a {
		text-decoration: none;
		color: $color-default;
		display: block;
		overflow: hidden;

		&:hover .btn {
			background-color: $color-akcent;
			border: 2px solid $color-akcent;
			color: #fff;
			transition: .5s;
		}
	}

	// &-row {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	justify-content: space-between;
	// 	//padding: 0 15px;
	// 	align-items: center;
	// }

	&-info {
		//width: calc(100% - 365px);
		//float: right;
		position: relative;
		box-sizing: border-box;
		///margin-bottom: 25px;
		margin-top: 55px;
		margin-bottom: 55px;
		//position: absolute;
		top: 50%;
		//transform: translateY(-50%);
		//left: 365px;

		@media screen and (max-width: $break_sm) {
			position: relative;
			transform: none;
			//left: auto;
			//float: none;
			width: 100%;
			margin-top: 0;
		}

		&__title {
			@include pix-to-rem(24px);
			margin-bottom: 15px;
			line-height: 1.25;
		}

		&__descr {
		}

		.btn {
			//border-radius: 0px;
			padding: 8px 15px;
			background-color: transparent;
			color: $color-akcent;
			//border: none;
			border: 2px solid $color-akcent;
			//box-shadow: none;
			//text-decoration: underline;
			margin-top: 25px;
			@include pix-to-rem(14px);
			transition: .5s;
		}
	}

	&-r {
		display: block;
		float: left;
		margin-right: 25px;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;
			width: 336px;
			border-left: 5px solid $color-akcent;
		}

		@media screen and (max-width: $break_sm) {
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 25px;
		}
	}
}
