.cta-price {
    position: relative;
    z-index: 0;

    padding-top: 100px;
    background-color: $color-akcent2;
    color: #fff;

    background-size: cover;
    background-position: center center;
    background-image: url('./../img/bg-cta-price.jpg');

    overflow: hidden;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .5);
    }

    .section-header {
        margin-bottom: 40px;
    }
}



.section-descr {}

.cta-price .wrapper {
    position: relative;
    z-index: 2;
}


.cta-box {
    position: relative;

    max-width: 745px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding: 35px 25px;

    background-color: $color-akcent6;
    border-radius: 4px;

    color: $color-default;
    text-align: center;

    &:after {
        position: absolute;
        content: '';

        width: 200px;
        height: 158px;

        bottom: -80px;
        right: -38px;

        background-size: cover;
        background-position: center center;
        background-image: url('./../img/paper_plane.png');

        @media screen and (max-width: $break_md) {
            width: 170px;
            height: 135px;

            bottom: -50px;
            right: 10px;
        }

        @media screen and (max-width: $break_sm) {
            width: 130px;
            height: 103px;

            bottom: -50px;
        }

        @media screen and (max-width: $break_xs) {
            width: 100px;
            height: 80px;
            bottom: -15px;
            right: 13px;
        }
    }
}

.cta-box__title {
    margin-top: 0;
    margin-bottom: 18px;

    @include pix-to-rem(36px);
    font-weight: bold;
    line-height: 1.25;

    @media screen and (max-width: $break_md) {
        @include pix-to-rem(28px);
    }
}

.cta-box__descr {
    @include pix-to-rem(20px);
    margin-bottom: 35px;
}

.cta-box__mail-btn {
    display: inline-block;

    padding: 15px 25px;

    @include pix-to-rem(27px);
    font-weight: bold;
    color: #fff;

    background-color: $color-akcent;
    border-radius: 4px;

    @media screen and (max-width: $break_md) {
        @include pix-to-rem(20px);
    }
}

.cta-box__mail {
    @include pix-to-rem(23px);
    font-weight: bold;
    color: $color-akcent7;
    text-decoration: underline;
}

.cta-box__phone {
    color: $color-default;
    @include pix-to-rem(23px);
    text-decoration: none;
    font-weight: bold;
}

.cta-box.white {
    background-color: #fff;
    padding: 20px 55px;

    max-width: 570px;

    @media screen and (max-width: $break_sm) {
        max-width: 490px;
    }

    @media screen and (max-width: $break_xs) {
        padding: 15px 25px;
    }
}

.cta-box.orange {
    background-color: $color-akcent2;
    padding: 50px 55px;

    max-width: 745px;

    @media screen and (max-width: $break_sm) {
        max-width: 490px;
    }

    @media screen and (max-width: $break_xs) {
        padding: 15px 25px;
    }

    .cta-box__title {
        @include pix-to-rem(28px);
    }

    .cta-box__descr {
        @include pix-to-rem(18px);
    }

    .cta-box__mail-btn {
        position: relative;
        z-index: 5;
        background-color: #ff6803;

        @media screen and (max-width: $break_sm) {
            @include pix-to-rem(22px);
        }

        @media screen and (max-width: $break_xs) {
            @include pix-to-rem(18px);
        }
    }

    &:after {
        position: absolute;
        content: '';
        z-index: 3;

        width: 197px;
        height: 197px;

        bottom: -31px;
        right: -10px;

        background-size: cover;
        background-position: center center;
        background-image: url('./../img/fire.png');

        opacity: .6;

        @media screen and (max-width: $break_sm) {
            width: 190px;
            height: 199px;

            bottom: -20px;
        }

        @media screen and (max-width: $break_xs) {
            width: 166px;
            height: 150px;

            bottom: -25px;
            right: 5px;
        }
    }
}
