.products {
    //padding-top: 0;
    background-color: $bgcolor-02;
}

.section-header {
    margin-bottom: 35px;
}

.section-descr {
    margin-bottom: 60px;
    @include pix-to-rem(22px);
    line-height: 1.5;

}

.products .wrapper {
    max-width: 1110px;
}


.products-box {
    @media screen and (max-width: 960px) {
        max-width: 600px;
        margin: 0 auto;
    }
}

.products-item {
    display: flex;
    justify-content: space-between;
    background-color: $bgcolor-01;
    box-shadow: 2px 2px 10px 10px rgba(227, 227, 227, 1);

    @media screen and (max-width: 960px) {
        display: block;
    }

    &:not(:last-child) {
        margin-bottom: 100px;

    }
}

.products-img {
    flex: 0 0 520px;
    width: 520px;
    height: 520px;

    @media screen and (max-width: $break_lg) {
        flex: 0 0 450px;
        width: 450px;
        height: 450px;
    }

    @media screen and (max-width: 960px) {
        width: 100%;
        padding-top: 50%;
        height: 50%;
    }

    background-size: cover;
    background-position: center center;


    img {
        display: block;
        width: 100%;
        //width: 520px;
    }
}

.products-info {
    flex: 0 1 auto;
    position: relative;
    padding: 25px;

    @media screen and (max-width: $break_lg) {
        padding: 15px;
    }

    @media screen and (max-width: 960px) {
        padding: 0 25px 25px 25px;
    }
}

.products-info__title {

    display: flex;
    align-items: center;
    position: relative;
    min-height: 75px;

    margin-left: -100px;
    margin-right: -25px;
    margin-bottom: 35px;
    padding-left: 22px;
    padding-top: 8px;
    padding-bottom: 8px;

    @include pix-to-rem(22px);
    line-height: 1.35;
    font-weight: bold;

    background-color: $color-akcent2;

    @media screen and (max-width: $break_lg) {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 960px) {
        margin-left: -25px;
        margin-right: -25px;
        height: auto;
    }

    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 30px;
        height: 75px;
        border-style: solid;
        border-width: 37.5px 30px 37.5px 0;
        border-color: transparent $color-akcent2 transparent transparent;
        top: 0;
        left: 0;
        transform: translateX(-100%);

        @media screen and (max-width: 960px) {
            width: 75px;
            height: 30px;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            border-width: 0 37.5px 30px 37.5px;
            border-color: transparent transparent $color-akcent2 transparent;
        }
    }
}

.products-info__descr {
    @include pix-to-rem(20px);

    @media screen and (max-width: $break_lg) {
        @include pix-to-rem(19px);
    }

    p {
        margin: 0;
    }

    em {
        color: $color-akcent;
        font-style: normal;
    }

    strong {
        font-weight: bold;
    }
}

.products-info__btn {
    @include pix-to-rem(20px);

    @media screen and (max-width: $break_lg) {
        margin-top: 15px;
    }
}
