.slider-gallery {
	padding: 0;
	margin: 0 auto;
	max-width: 1500px;
	overflow: hidden;

	p {
		display: none;
	}

	&-item {
		list-style-type: none;
		position: relative;
		transition: .5s;
		padding: 15px;
		overflow: hidden;
		height: 600px;
		// display: inline-block;

		a {
			// display: block;
			overflow: hidden;
		}

		&:before {
			display: none;
		}

		&:hover .imggallery {
			box-shadow: -1px 2px 15px -3px $color-akcent;
			transition: .5s;
		}
	}

	.imggallery {
		//box-shadow: 0px 0px 1px 0px #000;
		display: block;
		position: relative;
		padding: 0;
		// width: 100%;
		box-sizing: border-box;
		box-shadow: -1px 2px 15px -3px rgba(0, 0, 0, 0.75);

		&::before {
			position: absolute;
			content: '';
			bottom: 0;
			right: 0;
			width: 32px;
			height: 32px;
			box-sizing: border-box;
			background-color: $color-akcent;
			background-image: url('./../img/icons/lupa-white.svg');
			background-size: cover;
			border-radius: 10px 0 0 0;
			border: 5px solid $color-akcent;
		}
	}

	a {
		display: block;
		// overflow: hidden;
		box-shadow: 0px 0px 5px 0px $color-akcent;
	}

	img {
		display: block;
		width: 100%;
		// height: 600px;
	}
}
