// Стандартные переменные для всех проектов

// Шрифты
$font-default: 'Roboto',
sans-serif;
$font-akcent: 'Roboto',
sans-serif;
$font-akcent2: 'Roboto',
sans-serif;
$font-size-default: 16px;
//$font-akcent: "Andantino script", sans-serif;
//$font-akcent2: "Arvo", sans-serif;
//$font-size-default: 16px;
//$font-akcent3: "Open Sans-example", sans-serif;

// Цвета
$color-default: #000; // для простого текста
// $color-akcent: #3f668c; // оранжевый
$color-akcent: #0074ec; // оранжевый
//$color-akcent: #f60031; // оранжевый
$color-akcent2: #ffca08; // синий
$color-akcent3: #f5f5f5; // светлый серый
$color-akcent4: #f4eeed; // серый
$color-akcent5: #252525; // темный серый для нижней секции с контактами
$color-akcent6: #ededed; // почти черный для футера
$color-akcent7: #0057b5; // почти черный для футера
$color-white: #fff;
$color-error: #cc4b16;
$color-success: #2d751d;
$color-danger: #cc4b16;
//$color-akcent5: orange;

// $blue: #01f4c6;

// Фоны
$bgcolor-01: #fff;
$bgcolor-02: #f9fafc;
//$bgcolor-default3: #555;
//$bgcolor-default4: #555;
//$bgcolor-default5: #555;

// Пути для входа в libs - указать один вариант
// $path-libs: '../../libs'; // - при верстке блоков в библиотеке
//$path-libs: ../libs -  при верстке шаблона

// Пути для подключения библиотек и вытягивания ресурсов - в стилях ./ заменить на соответствующий путь
// $path-slick: $path-libs + '/slick-carousel/slick';
//$path-jquery: $path-libs + '/jquery/dist';
//$path-magnificpopup: $path-libs + '/magnific-popup/dist';
//$path-matchHeight: $path-libs + '/matchHeight/dist';
//$path-pagescrolltoid: $path-libs + '/page-scroll-to-id';

//$path: $path-slick + '/slick.scss';
// $path: '../../libs/slick-carousel/slick/slick.scss';

// Переменные для текущего проекта
