img(src="../../img/about.jpg", alt="")
h2 Кристина Геймор
.social
    a(href="https://vk.com/kris_geimor", target="_blank")
        img.vk(src="../../img/vk.svg", alt="")
    a(href="https://vk.com/kris_geimor", target="_blank")
        img.vk(src="../../img/facebook.svg", alt="")
.phone
    | Тел.: +7 (909) 420-85-54
p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь имеет, ему осталось использовало дал, живет гор он мир, меня запятой пустился образ? Страну!