.accordeon
    .item
        .header Что делать, если уволили за прогул?
        .descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
            a(href="#", title="title").redmore Подробнее

    .item
        .header Как получить гражданство РФ?
        .descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
            a(href="#", title="title").redmore Подробнее

    .item
        .header Что делать, если коллекторы запугивают?
        .descr Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса».
            a(href="#", title="title").redmore Подробнее