section#action.action
	.wrapper
		h2.block-header Акция
		.action-box
			p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Курсивных за проектах домах речью lorem что. Наш алфавит точках своих ведущими щеке на берегу пояс!
			<a class="btn popup_content" href="#zayavka">Оставить заявку</a>
