section.advantage
	.wrapper
		.row
			main
				h2.section-header
					span Закажите уборку
					|  - качество гарантируем
				p Клининговая компания предлагает большой перечень клининговых услуг. Предоставляем высококачественную работу для Вас, чтобы чистота в Вашем доме создавала прекрасное настроение и уют. Гарантируем ответственную, безупречную и профессиональную уборку юбой сложности. Пока Вы занимаетесь своими любимыми занятиями-мы делаем Ваше жилье уютным, комфортным и безопасным для здоровья.
				a.btn.popup_content(href="#top-hidden") Заказать уборку
		h2.section-header
			span Наши
			|  преимущества
		.row
			.advantage-item
				span.icon <i class="fa fa-trophy" aria-hidden="true"></i>
				span.advantage-title 10 лет на рынке
			.advantage-item
				span.icon <i class="fa fa-rocket" aria-hidden="true"></i>
				span.advantage-title Уборка в день обращения
			.advantage-item
				span.icon <i class="fa fa-child" aria-hidden="true"></i>
				span.advantage-title Для будущих родителей уборка с полной дизенфекцией
			.advantage-item
				span.icon <i class="fa fa-clock-o" aria-hidden="true"></i>
				span.advantage-title Уборка в рассрочку