.bigslider
    .bigslider-item
        .bigslider-box
            .bigslider-header Название первого слайда
            .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn Текст кнопки 1
    .bigslider-item
        .bigslider-box
            .bigslider-header Название второго слайда
            .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn Текст кнопки 2