aside.blog-aside

    nav.blog-aside__block
        ul
            li
                a(href="#") Стоимость создания сайта
            li
                a(href="#") Как зарегистрировать хостинг и домен видео инструкция
            li
                a(href="#") Почта для домена
            li
                a(href="#") Создать интернет магазин
            li
                a(href="#") Факторы, влияющие на продвижение сайта
            li
                a(href="#") Сделать микроразметку

    .blog-aside__block
        .srb
            span.part-ss(rel='https://kwork.ru/?ref=31120')
                img(src='./../../img/sait-besplatno.jpg', title='Онлайн услуги по 500 рублей!', alt='Кворк')

    nav.blog-aside__block
        ul
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>
            li
                <span class="part-ss ss" rel="http://timeweb.ru/?i=12517&amp;a=89">TimeWeb</span>

    .blog-aside__block
        .blog-aside__block__title Новое в блоге
        .latest-box
            .latest-post
                a(href="#") Сделать сайт быстро, недорого, качественно
            .latest-post
                a(href="#") Заказать сайт-каталог товаров недорого
            .latest-post
                a(href="#") Заказать логотип недорого
            .latest-post
                a(href="#") Идеи дизайнов блоков с призывом к целевому действию - HERO блоки
            .latest-post
                a(href="#") Идеи дизайнов блоков новостей или новых постов


    .blog-aside__block
        .srb
            span.part-ss(rel='https://kwork.ru/?ref=31120')
                img(src='./../../img/kwork.jpg', title='Онлайн услуги по 500 рублей!', alt='Кворк')
