section.ceny
	.wrapper
		.row
			.content
				h2.section-header
					span Цены
					|  на уборку квартир
				.ceny-box
					.ceny-row.title
						.ceny-title Тип уборки
						.ceny-price Стоимость
					.ceny-row
						.ceny-title Генеральная уборка квартиры
						.ceny-price От 50 руб, м.кв.
					.ceny-row
						.ceny-title Комплексная еженедельная уборка квартиры
						.ceny-price От 30 руб, м.кв.
					.ceny-row
						.ceny-title Уборка после ремонта квартиры
						.ceny-price От 60 руб, м.кв.
					.ceny-row
						.ceny-title Уборка коттеджей
						.ceny-price От 60 руб, м.кв.
					.ceny-row
						.ceny-title Генеральная уборка кухни площадью до 20 кв.м + (духовой шкаф, холодильник,  микроволновая печь)
						.ceny-price От 50 руб, м.кв.
				a.btn Полный прайс