h1 Портфолио
.portfolio
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка
	.portfolio-item
		a(href="#")
			.portfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		//- .portfolio-box
		.portfolio-text
			.portfolio-item__title
				a(href="#") Ирина и Евгений
			.portfolio-item__type
				span Категория:
				a(href="#")  Свадебная съемка