//- h1 Галерея
ul.gallery
    li.gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
            .gallery-item__title 001 - адаптивный шаблон универсальный, создавался для сайта гостиницы для собак
    li.gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
            .gallery-item__title 002 - адаптивный шаблон универсальный, создавался для юридической тематики
    li.gallery-item
        a.popup(href='../../img/gallery/03.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/03.jpg', alt='alt')
            .gallery-item__title 003 шаблон
    li.gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
            .gallery-item__title 004 - шаблон адаптивный. Отлично подойдет для сайта-портфолио
    li.gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
            .gallery-item__title 005 шаблон
    li.gallery-item
        a.popup(href='../../img/gallery/03.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/03.jpg', alt='alt')
            .gallery-item__title 006 шаблон
    li.gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
            .gallery-item__title 007 - адаптивный шаблон сайта юридических услуг
    li.gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
            .gallery-item__title 009 - адаптивный шаблон для одностраничного сайта
