h1 Портфолио 2
.myportfolio
	.myportfolio-item
		a(href="#")
			.myportfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		.myportfolio-text
			.myportfolio-item__title
				a(href="#") Ирина и Евгений
	.myportfolio-item
		a(href="#")
			.myportfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		.myportfolio-text
			.myportfolio-item__title
				a(href="#") Ирина и Евгений
	.myportfolio-item
		a(href="#")
			.myportfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		.myportfolio-text
			.myportfolio-item__title
				a(href="#") Ирина и Евгений
	.myportfolio-item
		a(href="#")
			.myportfolio-item__img
				img(src="../../img/photo-01.jpg", alt="")
		.myportfolio-text
			.myportfolio-item__title
				a(href="#") Ирина и Евгений