footer
	//- a(href="#top" title="Наверх").arrow-top
	p © <strong>ПРОМТЕХ</strong> Вентиляция © 2020
	p
		a(href='#', target='_blank') Политика конфиденциальности
	.statistic
		img(src="img/statistic.jpg", alt="")
	//-p.razr Создание сайта -
		a(href="https://sajt-vizitka-nedorogo.ru", title="title", target="_blank") Сайт-визитка
