header.header

	.wrapper
		.row
			.header-logo
				a(href="#")
					img(src="img/logo.jpg", alt="")

			.header-text
				strong Завод воздуховодов с 2004г.
				br
				| из оцинкованной и нержавеющей стали

			.header-text
				| МО, г.о. Чехов,
				br
				| д. Ивачково, влд. 17

			.header-contacts
				a(href='tel:+79998249081').tel +7 (999) 824-90-81
				br
				| почта для заявок:
				br
				a(href="mailto:zakaz@promtehvent.ru") zakaz@promtehvent.ru
