.help-panel

    <a class="item arrow-top" href="#top" title="Наверх"></a>
    <a class="popup_content item mail" href="#zayavka" title="Обратная связь"></a>
    //- <a class="popup_content item tel" href="#zayavka" title="Заказать звонок"></a>
