.topmenu
	.wrapper
		nav.navbar.navbar-expand-lg.navbar-light
			//- a.navbar-brand(href='#') Navbar
			button.navbar-toggler(data-target='#navbarSupportedContent', data-toggle='collapse', type='button', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse

				ul.navbar-nav.mr-auto

					li.nav-item.active
						a.nav-link(href='#') О нас
					li.nav-item
						a.nav-link(href='#') Наши клиенты
					li.nav-item
						a.nav-link(href='#') Контакты

					li.nav-item.dropdown
						a#navbarDropdown.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false', aria-haspopup='true')
							| Креатив

						ul.dropdown-menu(aria-labelledby='navbarDropdown')
							li.dropdown-item
								a(href="#") Создание логотипа
							li.dropdown-item
								a(href="#") Создание фирменного стиля
							li.dropdown-item
								a(href="#") Создание единой стилистической концепции
							li.dropdown-item
								a(href="#") Написание текстов
							li.dropdown-item
								a(href="#") Создание слоганов
							li.dropdown-item
								a(href="#") Рекламно-информационный копирайтинг
							li.dropdown-item
								a(href="#") Создание креативных концепций рекламных кампаний
							li.dropdown-item
								a(href="#") Создание уникальных торговых предложений
							li.dropdown-item
								a(href="#") Создание и поддержка имиджа
							li.dropdown-item.dropdown
								a#navbarDropdown.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false', aria-haspopup='true')
									|  Создание и поддержка имиджа
								ul.dropdown-menu(aria-labelledby='navbarDropdown')
									li.dropdown-item
										a(href="#") Создание логотипа
									li.dropdown-item
										a(href="#") Создание фирменного стиля
									li.dropdown-item
										a(href="#") Создание единой стилистической концепции


					li.nav-item
						a.nav-link(href='#') Дизайн
					li.nav-item
						a.nav-link(href='#') Создание сайтов
					li.nav-item
						a.nav-link(href='#') Реклама в сети интернет
					li.nav-item
						a.nav-link(href='#') Видео производство
					li.nav-item
						a.nav-link(href='#') Производство рекламно-имиджевой продукции
					li.nav-item
						a.nav-link(href='#') Медиа
					li.nav-item
						a.nav-link(href='#') Маркетинг
					li.nav-item
						a.nav-link(href='#') Корпоративные и PR мероприятия
					//- li.nav-item
						a.nav-link.disabled(href='#') Disabled
				//- form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type='search', aria-label='Search', placeholder='Search')
					button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
