//- Меню по услугам сайта http://advokat-katsanov.ru

nav.header-menu
    .wrapper
        button#touch-menu Меню
        ul.tgnav
            //- li.active
                a(href='#') Главная
            li
                a(href='#about') Сайт-визитка недорого

            //-li.dropdown
                a(href='#services').dropdown-toggle Услуги
                //- .dropdown-menu
                .dropdown-menu
                    ul

                        li.dropdown
                            a(href='#').dropdown-toggle Сопровождение бизнеса
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Создание ООО и ИП
                                    li
                                        a(href="#") Подготовка внутренней документации компании
                                    li
                                        a(href="#") Регистрация товарного знака
                                    li
                                        a(href="#") Договорная и претензионная работа
                                    li
                                        a(href="#") Устные и письменные консультации
                                    li
                                        a(href="#") Взыскание задолженностей с контрагентов

                        li.dropdown
                            a(href='#').dropdown-toggle Гражданские споры
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Семейные споры
                                    li
                                        a(href="#") Наследственные споры
                                    li
                                        a(href="#") Жилищные споры
                                    li
                                        a(href="#") Дела по охране и защите интеллектуальной собственности

                        li.dropdown
                            a(href='#').dropdown-toggle Защита прав потребителей
                            .dropdown-menu
                                ul
                                    li
                                        a(href="#") Банковские споры
                                    li
                                        a(href="#") Страховые споры (ОСАГО, КАСКО)
                                    li
                                        a(href="#") Споры по договорам розничной купли-продажи и договорам оказания услуг
                                    li
                                        a(href="#") Споры с застройщиками
                                    li
                                        a(href="#") Защита прав потребителей в сфере оказания медицинских и косметических услуг


                        li
                            a(href="#") Земельные споры
                        li
                            a(href="#") Представительство в судах и других государственных органах
                        li
                            a(href="#") Налоговые споры
                        li
                            a(href="#") Трудовые споры
                        li
                            a(href="#") Международные споры
                        li
                            a(href="#") Уголовные дела
                        li
                            a(href="#") Выдача лицензий
                        li
                            a(href="#") Тендерное сопровождение

            li
                a(href='#') Заказать сайт
            li.active
                a(href='#advantages') Бесплатные шаблоны

            li
                a(href='#action') Платные шаблоны
            li
                a(href='#contacts') Порядок работы
            li
                a(href='#') FAQ
            li
                a(href='#') Портфолио
            li
                a(href='#') Отзывы
            //- li
            //-     a(href='#') Видео производство
            //- //- li
            //-     a(href='#') Производство рекламно-имиджевой продукции
            //- li
            //-     a(href='#') Медиа
            //- li
            //-     a(href='#') Маркетинг
            //- li
                a(href='#') Корпоративные и PR мероприятия}
