nav.header-menu
    button#touch-menu Меню
    ul.nav.clearfix
        li
            a(href='#action', rel='m_PageScroll2id') Акция
        li
            a(href='#services', rel='m_PageScroll2id') Цены
        li
            a(href='#portfolio', rel='m_PageScroll2id') Галерея
        li
            a(href='#shema', rel='m_PageScroll2id') Схема работы
        li
            a(href='#contacts', rel='m_PageScroll2id') Контакты