section.otzyvy
	.wrapper

		//-h2.section-header Отзывы клиентов
		h2.block-header Отзывы клиентов
		.otzyvy-slider
			.otzyvy-item
				p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Необходимыми, домах возвращайся единственное моей заманивший обеспечивает по всей залетают осталось, вскоре пор своего букв коварный журчит послушавшись всеми. Приставка его, рукопись большого назад вопроса эта выйти над ему домах коварный алфавит пунктуация, грустный дал на берегу заголовок. Все, обеспечивает пояс. Переписали, подзаголовок!
				span.otzyvy-wrok Далеко-далеко за словесными горами в стране.
				span.otzyvy-name Алексей
			.otzyvy-item
				p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленькая возвращайся грамматики взобравшись, заманивший осталось это точках грустный предупредила вершину она семь своих, все рот пояс большой бросил гор буквоград реторический? Над, коварных грустный!
				span.otzyvy-wrok Далеко-далеко за словесными горами.
				span.otzyvy-name Людмила
			.otzyvy-item
				p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Составитель обеспечивает речью о свое великий его от всех дорогу lorem большой переписали? Вопроса, залетают! Необходимыми всемогущая на берегу это, которой по всей напоивший вдали ручеек живет подпоясал безопасную заглавных использовало текстами, рукопись букв если.
				span.otzyvy-wrok Далеко-далеко за словесными горами в стране гласных.
				span.otzyvy-name Николай

		<a class="btn" href="#">Все отзывы</a>