.clearfix
.pagination
	ul.pagination
		li.disabled
			span Первая
		li.disabled
			span «
		li.active
			a(href='#') 1
		li
			a(href='#') 2
		li.control
			a(href='#') »
		li.control
			a(href='#') Последняя