section.promo
	.wrapper
		.row
			h2.section-header Акции и Скидки
			p.deskr Мы любим своих клиентов и стремимся сделать их счастливее.<br>Действие Акций и Скидок ограниченно во времени.<br>Подробности узнавайте у специалистов салона
			.btn-container
				a.btn.btn-light(href="#") Узнать подробности