section#news.news
    .container
        h2 Наши новости
        p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        .news-box
            .news-item
                a(href="#")
                    img(src="./../../img/kursy/01.jpg", alt="")
                    .news-title Заголовок первой новости
                    .news-date 11.01.2018
            .news-item
                a(href="#")
                    img(src="./../../img/kursy/01.jpg", alt="")
                    .news-title Заголовок первой новости подлиннее на пару строк
                    .news-date 11.01.2018
            .news-item
                a(href="#")
                    img(src="./../../img/kursy/01.jpg", alt="")
                    .news-title Заголовок первой новости
                    .news-date 11.01.2018
        a.btn(target='_blank', href='#') Все новости