section#contacns.contacns

	.wrapper

		.contacns-box
			.contacns-box__header Наши контакты
			p Телефон: <br>
				a(href="tel:+79998249081") +7 (999) 824-90-81
			p E-mail для заявок: <br>
				a(href="mailto:zakaz@promtehvent.ru") zakaz@promtehvent.ru
			p Время работы: <br>ежедневно с 08.00 до 20:00
			p МО, г.о. Чехов, д. Ивачково, влд. 17
			p
				a(href="https://drive.google.com/file/d/1EdVXn1BWQ3X4dD9frSuqxDl_c-xQ29Rl/view") Наши реквизиты

	.contacns-map
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7f00af49f6281885d6155199b3b219d3fcf8a98d058ee96fcbd5576a9a0dc319&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
