section.about-video
    .container
        h2 Итоги 2017 года
        p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        a.magn-vimeo(href="https://vimeo.com/143035094")
            img(src="./../../img/play.png", alt="play")