section#hero.hero
	.wrapper
		.hero-box
			h1.hero-title
				| Производство и продажа воздуховодов из оцинкованной стали.&#32;
				span Сэкономьте до 40% бюджета на закупке!

			.hero-subtitle Доставка по России | Изготовление от 1 дня | Без предоплаты

			a.btn.hero-btn.popup_content.js-popup-form(data-descr='Дата-описание', data-title='Узнать стоимость', href='#zayavka2') Узнать стоимость
