section#cooperation.cooperation
	.wrapper
		h2.section-header Выгодные условия сотрудничества

		.cooperation-box

			.cooperation-item
				.cooperation-item__img
					img(src="img/cooperation/01.png", alt="")
				.cooperation-item__info
					.cooperation-item__title Для строительно-монтажных компаний
					.cooperation-item__descr
						p Разрабатываем под Ваши задачи комплексные решения любой сложности и для различных типов объектов, с учетом всех действующих норм и требований. Делаем расчеты по готовому проекту или разрабатываем его с нуля, изготавливаем все необходимые элементы. Всегда соблюдаем сроки поставки изделий на Ваш объект.
					a.btn.cooperation-btn.popup_content(href='#zayavka2') Узнать больше

			.cooperation-item
				.cooperation-item__img
					img(src="img/cooperation/02.png", alt="")
				.cooperation-item__info
					.cooperation-item__title Для строительно-монтажных компаний
					.cooperation-item__descr
						p Рассчитаем Ваши сметы, дадим лучшие цены на необходимые позиции, подготовим выгодное коммерческое предложение и подскажем на чем можно сэкономить. Проконсультируем по всем вопросам касающиеся изделий и их производства, обоснуем подбор материалов. Мы заинтересованы во взаимовыгодном сотрудничестве и всегда открыты для развития.
					a.btn.cooperation-btn.popup_content(href='#zayavka2') Узнать больше
