section#advantages.advantages
	.wrapper
		h2.section-header Почему с нами работать выгодно?

		.advantages-box

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/01.png');")
				.advantages-item__title Цена на 5-7% ниже рыночной
				.advantages-item__descr За счет оптимизации собственного производства и минимальных затрат на маркетинг

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/02.png');")
				.advantages-item__title Гарантия на продукцию
				.advantages-item__descr Производим гарантийное и постгарантийное техническое обслуживание нашей продукции

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/03.png');")
				.advantages-item__title Гарантия сроков по договору
				.advantages-item__descr Благодаря оптимизации производственного процесса все заказы выполняются точно в срок, нам важна наша репутация

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/04.png');")
				.advantages-item__title Качество
				.advantages-item__descr Все изделия соответствуют ТУ 4863-001-33360015-2019, ГОСТ Р 52246-2016 и ГОСТ 19904-90. Используем оцинкованную сталь толщиной свыше 0,5 мм.

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/05.png');")
				.advantages-item__title Используем лучшую сталь от ведущего производителя в России
				.advantages-item__descr НЛМК (Новолипецкий Металлургический Комбинат) лидера по производству высококачественной стали на рынках РФ, ЕС и США.

			.advantages-item
				.advantages-item__img(style="background-image: url('img/advantages/06.png');")
				.advantages-item__title Любые нестандартные изделия под ваш проект
				.advantages-item__descr Изготовление по чертежам. Утки круглые и прямоугольные, пленумы с секцией под фильтр, зонты, эскизные детали

		.text-center
			a.btn.advantages-btn.popup_content(href='#zayavka2') Узнать стоимость

		//- Заготовка
		.cta-box.orange
			.cta-box__title Выполняем срочные заказы!
			.cta-box__descr
				p Продукция нужна "еще вчера"? Мы можем выполнить заказ в день оплаты. При срочных заказах производим в тот же день и доставляем на следующий. Наши мощности позволяют это сделать!
				p <strong>Отправьте список продукции на почту с пометкой "Срочно"</strong> и получите КП уже сегодня!
			.cta-box__mail-btn zakaz@promtehvent.ru
