section#biografiya.biografiya
    .container
        h2 Биография
        h3 Грибок Олеся Михайловна
        p Дата рождения 12.12.1987
        h3 Образование
        p
            | Окончила Радошковичскую среднюю школу №1 В 2006 году поступила в Минский государственный колледж искусств на специальность « Режиссура праздников» (руководитель курса Мишин М. А.) В 2009 году окончила колледж с отличием и была принята в Белорусский государственный университет культуры и искусств на II курс (руководитель курса Каминский А.Я. ), окончила который в 2013 году.
        h3 Карьера
        p
            | Во время учебы занималась организацией гастролей в Минске проекта «Современный таперский кинозал» (г.Санкт-Петербург,автор проекта тапер А.Трофим). После успешной работы над проектом работала в «Генеральном продюсерском центре» сценаристом ТВпроекта. Через три месяца стала исполнительным продюсером хроникально-документального проекта «Эпоха. События и люди». Все это время не переставала сниматься в кино. В 2010 году снялась в главной роли в проекте ПРООН в Беларуси «Выше неба» (реж. Дмитрий Маринин), после чего решила посвятить себя актерской работе. С 2013 года ведущая Чемпионата СНГ по киберспорту «Techlabs Cup» (с 2014 года "Game Show league"). В октябре 2015 года выпустила книгу "Ты - Суперагент. Менеджмент и продвижение киноактера". Книга является первым и единственным изданием на данную тему и стала продолжением работы над ав- торским воркшопом "Менеджмент киноактера".
        h3 Личная жизнь
        p В 2013 году вышла замуж за Мацкевича Илью.
        h3 Общественная работа
        p
            | В 2014 году принята в команду «Красная ленточка». Команда создана при поддержке Регионального офиса Объединенной программы ООН по ВИЧ/СПИДу для стран Восточной Европы и Центральной Азии (ЮНЭЙДС)