section#services.services
	.wrapper
		h2.block-header Наши услуги
		.block-descr индивидуальный подход к каждому клиенту

		.services-wrapper

			.services-item
				.services-item__img
					img(src="./../../img/icons/guarantee-certificate.svg", alt="").services-item__img
				.services-item__title Свидетельство
				.services-item__descr
					ul
						li Уточнение границ земельного участка 
						li Раздел земельного участка
						li Объединение участков
						li Перераспределение участка
						li Выдел сельхоз доли
						li Образование части участка
				.services-item__info Сроки выполнения от 2-х дней
				a.btn.popup_content(href='#zayavka') Узнать стоимость


			.services-item
				.services-item__img
					img(src="./../../img/icons/certificate.svg", alt="").services-item__img
				.services-item__title Аттестат кадастрового инженера
				.services-item__descr
					ul
						li Здание (жилой дом, нежилое здание)
						li Помещение (квартира, офисное помещение)
						li Перепланировку помещения
						li Реконструкцию здания
						li Машино-место
						li Часть здания или помещения, для регистрации договора аренды в Росреестре
						li Сооружение
				.services-item__info Сроки выполнения от 2-х дней
				a.btn.popup_content(href='#zayavka') Узнать стоимость


			.services-item
				.services-item__img
					img(src="./../../img/icons/reestr.svg", alt="").services-item__img
				.services-item__title Реестр кадастровых инженеров
				.services-item__descr
					ul
						li Покажем законные границы вашего участка
						li Топографическая съемка местности
				.services-item__info Сроки выполнения от 2-х дней
				a.btn.popup_content(href='#zayavka') Узнать стоимость
