section#courses.courses
    .container
        h2 Наши курсы
        p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        include ../includes/slider-courses