section#action.action
	.wrapper
		.cta-box
			.cta-box__title У вас есть список необходимой продукции?
			.cta-box__descr
				p Отправьте заявку на почту и получите <br>коммерческое предложение уже сегодня!
			.cta-box__mail-btn zakaz@promtehvent.ru
