section.content
    main.container
        h1 Наши кино-работы
        p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        include ../includes/slider-portfolio-video