section#partners.partners
    .container
        h2 Партнеры
        .partners-wrapper
            .partners-item
                img(src="./../../img/partners/logo-01.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-02.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-03.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-04.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-05.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-06.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-07.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-08.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-09.png", alt="alt")
            .partners-item
                img(src="./../../img/partners/logo-10.png", alt="alt")