section.action
	.wrapper
		h2 Просто позвоните нам и убедитесь в том, что «Эксклюзив студия» - это именно то, что Вам нужно!
		.action-box
			a.top-tel(href="tel:+74955325223") 8 (495) 532-52-23
			a.top-tel(href="tel:+79253716858") 8 (925) 371-68-58
			a(href="/")
				img(src="img/logo.png", alt="")
