section#portfolio.portfolio

	.wrapper
		h2.block-header Примеры сделанных сайтов подороже
		//- include ../includes/content-portfolio

	.my-botton-slider
		.btn-prev
		.btn-next

	.portfolio-slider__container
		ul.portfolio-slider

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/01.jpg', title='title')
							img(src='../../img/portfolio/01.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Далеко-далеко, за словесными горами в стране гласных и согласных.
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/02.jpg', title='title')
							img(src='../../img/portfolio/02.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Юридические услуги
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/03.jpg', title='title')
							img(src='../../img/portfolio/03.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Юридические услуги
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/04.jpg', title='title')
							img(src='../../img/portfolio/04.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Юридические услуги
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/05.jpg', title='title')
							img(src='../../img/portfolio/05.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Юридические услуги
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

			li.portfolio-slider__item
				.portfolio-slider__box
					.portfolio-slider__item-img
						a.popup(href='../../img/portfolio/06.jpg', title='title')
							img(src='../../img/portfolio/06.jpg', alt='alt')
					.portfolio-slider__item-descr
						.portfolio-slider__item-title Юридические услуги
						p Тип: визитка
						p Особенности: шаблонный дизайн
						p Стоимость: визитка до пяти страниц 1000 руб. + 3 дополнительные страницы по 200 руб.
						p.portfolio-slider__item-price Итого: 1600 руб.
						a.btn.popup_content(href='#') Заказать подобный сайт

	.my-botton-slider
		.btn-prev
		.btn-next

	.wrapper
		.text-center
			a.btn.popup_content(href='#') Рассчитать стоимость
