section#delivery.delivery
	.wrapper
		h2.section-header Доставим воздуховоды точно <br>в срок в любую точку России

		.delivery-box
			.delivery-map
				img(src="img/map.png", alt="")
			.delivery-auto
				img(src="img/auto.png", alt="")


		.cta-box
			.cta-box__title У вас есть список необходимой продукции?
			.cta-box__descr
				p Отправьте заявку на почту и получите <br>коммерческое предложение уже сегодня!
			.cta-box__mail-btn zakaz@promtehvent.ru
