section.faq
    .wrapper
        .faq-box
            .faq-img
                img(src="./../../img/faq.jpg", alt="")
            .faq-descr
                h2 Частные вопросы
                p Значимость этих проблем настолько очевидна, что новая модель организационной деятельности в значительной степени обуславливает создание направлений прогрессивного развития.

                include ../includes/accordeon

                <a class="btn popup_content" href="#zayavka2">Задать вопрос</a> или посмотреть
                    a(href="#", title="title") все вопросы


