section#guarantee.guarantee
    .wrapper
        h2.block-header Гарантия лучшего предложения
        p
            | Вам кажется, что вы нашли более выгодное предложение по разработке сайта? Напишите нам об этом, и мы расскажем, где вы можете напороться на «подводные камни». В отличии от многих разработчиков, мы не навязываем необоснованно дорогой технической поддержки. Не заставляем платить за услуги хостинга себе, а размещаем ваш проект на удобном для вас хостинге. Не подсаживаем клиентов на самописные CMS, чтобы «привязать только в себе».
        p
            | Мы разрабатываем качественные сайты «Под ключ». При сдаче проекта отдаем вам абсолютно все необходимые доступы. Делаем для вас видео инструкции по основам администрирования.
        p
            strong Мы работаем честно!

        img(src="./../../img/icons/guarantee.svg", alt="").guarantee-img
