section#filmografiya.filmografiya
    .container
        h2 Фильмография
        p
            | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Всеми, пунктуация, текст за, что, залетают инициал предложения по всей оксмокс переписали коварный букв на берегу это.
        ul
            li 2017 Х/ф "Dukat Černé Paní", реж. Honza Novák, роль Černa Paní (filming)
            li
                | 2017 Х/ф "I'd prefer your problems, princess", реж. Elie Al hajj, гл.роль Таня (post-production)
            li
                | 2016 Х/ф "Пес Рыжий", реж. William De Vital, роль Лена, медсестра (post-production)
            li 2016 К/ф "Ро и Дж", реж. Евгений Лыткин, гл.роль Дж
            li
                | 2016 Cериал "Черная паутина", реж. И. Четвериков, роль юрисконсульт Майя Сенцова (post-production)
            li
                | 2016 Cериал "Плакучая ива", реж. Ф. Герчиков, роль Адвокат Алина Меньшова (post-production)
            li
                | 2016 Сериал "Тонкий лед", реж. А. Франскевич-Лайе, роль секретарь Марго (post-production)
            li 2016 Сериал "Дом для куклы", реж. Г. Якубовский, роль Танька
            li 2015 Cериал "Cсылка на Марс", реж. А. Потапов, главная роль Настя (пилот)
            li 2015 Cериал "Самое главное", реж. А. Ефремов, главная роль Дарья Потапова
            li 2015 Х/ф “Код Каина”, реж. William De Vital, гл. роль Алеся Василькова
            li 2015 Сериал "Весомое чувство", реж. А. Карелин, роль Алла
            li 2015 Сериал "Простить за все", реж. П. Снисаренко, роль Виктория