section#bonus.bonus
    .wrapper
        h2.block-header Приятные бонусы
        ol
            li
                strong Видео инструкции.
                |  Мы запишем специально для Вас видео, в котором покажем основы работы с админкой, где и какие элементы находятся, как их можно отредактировать в случае необходимости. Вы будете знать, как самостоятельно добавить новость или статью в нужный раздел, как вставить или отредактировать фото галерею.
            li
                strong Счетчик посещаемости.
                |  Сколько посетителей приходят на ваш сайт, откуда они берутся, как себя ведут? Всю эту информацию покажет система веб-аналитики, которая поможет детально разобраться, все ли у Вас хорошо или можно еще над чем-то поработать для улучшения эффективности, конверсии.
            li
                strong Регистрация в поисковых системах.
                |  После первичного наполнения сайта и передачи его под Ваше управление, мы сообщаем о нем популярным поисковым системам, чтобы они сразу начали индексацию новых страниц и добавили их к своей поисковой выдаче.
            li
                strong Почта на Вашем домене.
                |  Согласитесь, что корпоративная почта вызывает куда большее доверие и уважение, чем почта на распространенных бесплатных почтовых сервисах типа mail.ru и им подобных. Для тех, кто воспользуется
                span.part-ss.ss(rel='http://beget.ru/?id=80011') рекомендуемым нами хостингом
                | , мы бесплатно настроим почту на Вашем домене, и Вы самостоятельно сможете добавлять и администрировать почтовые ящики.
            li
                strong Прячем админку
                |  - тем самым повышая безопасность работы сделанного сайта. Благодаря этому админка будет доступна по секретному адресу и излишне любопытные посторонние лица и так называемые боты не смогут подбирать логин и пароль и не будут создавать лишнюю нагрузку на веб-сервер.
            li
                strong Настраиваем страницу ошибки 404
                | . Если кто-то пытается открыть несуществующую страницу, то на большинстве сайтов в интернете появляется стандартная неоформленная страшная страница ошибки 404 с сообщением о том, что страница по указанному адресу не существует. Гораздо лучше оформить страницу 404 как одну из внутренних страниц сайта, на которой будут доступны элементы навигации. Тогда пользователь, увидев сообщение о не найденной странице, сможет перейти в нужный раздел. Также на этой странице можно поместить ссылки на самую важную с Вашей точки зрения информацию, тем самым подсказав, в какую сторону нужно двигаться.
            li
                strong Бесплатная техническая поддержка на 3 месяца.
                |  Что это такое и для чего это нужно
                a(href='https://sajt-vizitka-nedorogo.ru/blog/tekhnicheskaya-podderzhka-sajta', title='Техническая поддержка сайта') читайте тут
                | . По истечении трех месяцев Вы будете заниматься технической поддержкой самостоятельно или сможете заказать ее у нас по стоимости 200 рублей в месяц.


        .text-center
                    a.btn(href='#') Заказать сайт
