section#shema.shema
    .wrapper
        h2.section-header Схема работы
        .shema-box
            .shema-item.shema-item__01
                .shema-item__title Замер и составление сметы
                //- .shema-item__descr Подписание договора со спецификацией

            .shema-item.shema-item__02
                .shema-item__title Заключение договора
                //- .shema-item__descr От 3 дней после подписания договора

            .shema-item.shema-item__03
                .shema-item__title Изготовление и монтаж
                //- .shema-item__descr Прием работ, оплата за установленный забор