section#about.about
	.wrapper
		h2.section-header Вы работаете с производителем на прямую!
		.section-descr Мы являемся производителем воздуховодов для систем вентиляции современного типа - из оцинкованной и нержавеющей стали по стандартам ГОСТ. Вся продукция соответствует европейским и российским стандартам. Под заказ составляем проект, изготавливаем любые элементы или вентиляционные системы под ключ. Наши воздуховоды и системы вентиляции установлены в торговых центрах, магазинах, на складах, производствах, промышленных объектах и прочих предприятиях.


		.about-box
			.about-item
				.about-item__title 1700 м2
				.about-item__descr Производственная <br>мощность в 1 день
			.about-item
				.about-item__title 4217
				.about-item__descr Реализованных <br>объектов
			.about-item
				.about-item__title 15 лет
				.about-item__descr Опыт <br>производства

		.about-slider-wrapper
			.about-slider
				.about-slider-item
					img(src="img/slider/01.jpg", alt="")
				.about-slider-item
					img(src="img/slider/02.jpg", alt="")
				.about-slider-item
					img(src="img/slider/03.jpg", alt="")
				.about-slider-item
					img(src="img/slider/04.jpg", alt="")
				.about-slider-item
					img(src="img/slider/05.jpg", alt="")


		.text-center
			a.btn.about-btn.popup_content.js-popup-form(data-descr='Дата-описание-2', data-title='Узнать стоимость', href='#zayavka2') Узнать стоимость
