section#certificate.certificate
	.wrapper
		h2.section-header Воздуховоды сертифицированы и соответствуют стандартам качества
		.section-descr Все изделия соответствуют ТУ 4863-001-33360015-2019, ГОСТ Р 52246-2016 и ГОСТ 19904-90. Используем оцинкованную сталь толщиной свыше 0,5 мм.
		.certificate-img-box
			.certificate-img-item
				img(src="img/certificate.jpg", alt="")
			.certificate-img-item
				img(src="img/certificate2.jpg", alt="")
