section#works.works
	.wrapper
		h2.block-header Примеры некоторых работ
		//- include ../includes/content-gallery
	include ../includes/slider-gallery
	.wrapper
		.text-center
			a.btn(href='#') Смотреть портфолио
