section#price.price
	.wrapper
		h2.block-header Тарифы на разработку

		ul.price-list

			li.price-item.a01
				.price-item__title Тариф «Лишь бы было»
				.price-item__price от 1000 рублей
				ul
					li До 5 страниц, дополнительные страницы по 200 рублей
					li Можно использовать один из бесплатных шаблонов
					li.success Можно загрузить на бесплатный хостинг (существенная экономия)
					li.danger Без админки (неудобно редактировать сайт, если нет навыка работы с кодом)
					li.danger Без админки очень неудобно добавлять и редактировать фото галереи
					li.danger Без админки не получится добавлять динамический контент (новости, публикации в раздел статей, товары в каталог и т.п.)
				a.btn.popup_content(href='#zayavka') Заказать сайт

			li.price-item.a02
				.price-item__title Тариф «Сайт на бесплатном шаблоне»
				.price-item__price от 1000 рублей
				ul
					li До 5 страниц, дополнительные страницы по 200 рублей
					li Можно использовать один из бесплатных шаблонов
					li.success С админкой (удобно редактировать сайт, если нет навыка работы с кодом)
					li.success Удобно добавлять и редактировать фото галереи
					li.success Удобно добавлять динамический контент (новости, публикации в раздел статей, товары в каталог и т.п.)
					li.danger Нужен платный хостинг
				a.btn.popup_content(href='#zayavka') Заказать сайт

			li.price-item.a03
				.price-item__title Тариф «Индивидуальный сайт»
				.price-item__price от 4000 рублей
				ul
					li До 10 страниц, дополнительные страницы по 200 рублей
					li.success верстаем индивидуальный шаблон по вашим пожеланиям
					li.success С админкой (удобно редактировать сайт, если нет навыка работы с кодом)
					li.success Удобно добавлять и редактировать фото галереи
					li.success Удобно добавлять динамический контент (новости, публикации в раздел статей, товары в каталог и т.п.)
					li.danger Нужен платный хостинг
				a.btn.popup_content(href='#zayavka') Заказать сайт
