section#video.video
	.wrapper
		h2.section-header Как мы производим воздуховоды

		.video-box

			.video-item
				.video-container
					iframe(src='https://www.youtube.com/embed/RzA0FYfm6DA' width='560' height='315' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

			.video-item
				.video-container
					iframe(src='https://www.youtube.com/embed/RzA0FYfm6DA' width='560' height='315' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

		.text-center
			a.btn.video-btn.popup_content(href='#zayavka2') Узнать стоимость
