aside#promo.promo
	.wrapper
		//-.promo-row

		a(href="#", title="title")

			.promo-r
				//-a(href="#", title="title")
				//-img(src="./../../img/ads.jpg", alt="")
				img(src="./../../img/sozdat-sajt-besplatno.jpg", alt="")


			.promo-info
				.promo-info__title Сделаем сайт бесплатно
				.promo-info__descr Хотите создать сайт максимально недорого, но не знаете как?
					br
					| Сделаем простой сайт-визитку с несложным функционалом БЕСПЛАТНО
				.btn Подробнее2
