section#offer.offer
	.wrapper
		h2.block-header Что входит в создание сайта-визитки

		ol
			li
				strong Количество страниц - до 5
				| , с возможностью самостоятельного добавления вами нужного количества дополнительных страниц через админку. Дополнительные страницы свыше пятой, сделанные нашими силами, будут стоить по 200 рублей за одну штуку.
			li
				strong Сайт на CMS
				|  - для разработки предпочитаем использовать последнюю на момент создания сайта версию CMF MODX - эта система более гибкая, позволяет делать очень нестандартные вещи. Самым большим ее плюсом является СЕО-ориентированность и отсутствие проблем дублирования страниц, чем очень сильно грешат Joomla и Wordpress.
			li
				strong Простая форма обратной связи или заказа ваших услуг.
				|  Заполненные данные будут приходить на указанный вами электронный ящик.
			li
				strong Новостной блок.
				|  Если вы хотите рассказать пользователям не только о вашей деятельности и предложениях, но и о новостях, которые пользователю было бы полезно знать, то наличие такого блока было бы очень кстати.
			li
				strong Фотогалерея.
				|  Являетесь ли вы частным мастером по наращиванию волос или занимаетесь строительством и ремонтом – фотогалерея лучше любых слов покажет примеры ваших работ. Простая фото галерея сегодня является неотъемлемой частью современного сайта.
			li
				strong Схема проезда.
				|  На многих сайтах можно увидеть интерактивную карту местонахождения организации. Пользователь может ее передвигать, увеличивать или уменьшать ее масштаб. И это действительно очень удобно. Если у вас есть свой офис, куда могут обратиться клиенты, то грех не разместить на странице контактов такую карту.
			li
				strong Блок специальных предложений.
				|  Специальные предложения или акции – двигатель современной торговли. Без них сегодня не обходится практически никто, ведь нужно как-то привлекать к себе внимание, не давать забывать о себе. Поэтому было бы логично иметь блок, который был бы виден на всех страницах и который вел бы на специальную страницу сайта, где находились бы актуальные на данный момент акции и специальные предложения.
			li
				strong Слайдер.
				|  В автоматическом или ручном режиме прокручивает картинки (баннеры), возможно с описательным текстом. Чаще всего используется на главной странице.
			li
				strong Социальные кнопки и виджеты сообществ соцсетей.
				|  Хотите, чтобы пользователи иметь возможность делиться интересным контентом через социальные сети? Тогда нужно обязательно добавить на страницы блок социальных кнопок. Если у вас есть развитые сообщества в соцсетях, то грех это не отобразить на сайте и не пригласить пользователей присоединиться к вашему сообществу.
			li
				strong Базовая СЕО оптимизация.
				|  Чтобы поисковые системы лучше понимали, о чем вы хотите рассказать на той или иной странице и чтобы они лучше ранжировали ваши странички по нужным именно вам поисковым запросам, нужно выполнить ряд специальных принципов: дружественные человекопонятные адреса страниц (ЧПУ), правильно заполненные теги title, description, keywords.
			li
				strong Создание карты сайта sitemap.xml
				|  в специальном XML-формате для поисковых систем, которая будет сообщать, какие
				a(href='https://sajt-vizitka-nedorogo.ru/blog/bystraya-indeksaciya') странички нужно индексировать
				| , когда они были созданы и обновлены и стоит ли заново их загружать для переиндексации.
			li
				strong Базовая защита от взлома и вирусов.
				|  Об этом пункте обязательно стоит позаботиться еще на этапе разработки. Нужно надежно спрятать админку, защитить от распространенных видов хакерских атак.
		.text-center
					a.btn(href='#') Заказать сайт-визитку
