section#steps.steps
    .wrapper
        h2.block-header Как мы работаем
        .steps-wrapper
            .steps-item
                img(src="./../../img/icons/opened-email.svg", alt="").steps-img
                .steps-title Отправляете заявку
                .steps-descr Определяем Ваши потребности, подбираем наиболее подходящий дизайн. Не берем предоплату
            .steps-item
                img(src="./../../img/icons/globus.svg", alt="").steps-img
                .steps-title Оцениваете сайт
                .steps-descr Мы делаем тестовый сайт до полной готовности, Вы его оцениваете и испытываете
            .steps-item
                img(src="./../../img/icons/purse-with-bill.svg", alt="").steps-img
                .steps-title Оплата работы
                .steps-descr После получения оплаты мы переносим наработки на Ваш хостинг аккаунт и сдаем Вам работу
        .text-center
            a.btn(href='#') Подробнее о работе
