section#products.products
	.wrapper
		h2.section-header Какую продукцию мы производим
		.section-descr Любые стандартные и нестандартные воздуховоды из оцинкованной <br>и нержавеющий стали, а также комплектующие систем вентиляции

		.products-box

			.products-item
				.products-img(style="background-image: url('img/products/01.jpg');")
				.products-info
					.products-info__title Круглые воздуховоды ГОСТ 14918-80, 19903-74
					.products-info__descr
						p <strong>Виды:</strong> Прямошовные , Спирально-навивные воздуховоды
						p <strong>Металл:</strong> оцинкованная/нержавеющая сталь
						p <strong>Толщина:</strong> 0,5 - 1 мм <em>(другие толщины обсуждаются индивидуально и при условии больших объемов!)</em>
						p <strong>Сечение:</strong> Прямошовные - диаметр 100-710 мм, Спирально-навивные - диаметр 100-1000 мм
					.products-info__btn.btn.popup_content(href='#zayavka2') Узнать стоимость

			.products-item
				.products-img(style="background-image: url('img/products/01.jpg');")
				.products-info
					.products-info__title Круглые воздуховоды ГОСТ 14918-80, 19903-74
					.products-info__descr
						p <strong>Виды:</strong> Прямошовные , Спирально-навивные воздуховоды
						p <strong>Металл:</strong> оцинкованная/нержавеющая сталь
						p <strong>Толщина:</strong> 0,5 - 1 мм <em>(другие толщины обсуждаются индивидуально и при условии больших объемов!)</em>
						p <strong>Сечение:</strong> Прямошовные - диаметр 100-710 мм, Спирально-навивные - диаметр 100-1000 мм
					.products-info__btn.btn.popup_content(href='#zayavka2') Узнать стоимость
