section#portfolio.portfolio
	.wrapper
		h2.section-header Реализованные объекты
		.section-descr За 17 лет реализовано более 4000 объектов по всей России. Нам доверяют крупные государственные и частные объекты.

		.portfolio-box

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/01.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Холдинг «ОПТИМА» офисный центр «Легион» ул. Киевская, д.7
					.portfolio-item__descr
						p Монтаж систем вентиляции и кондиционирования воздуха офисных помещений 8000м2.
						p
							strong произведено продукции&#32;
							| 1700 м2
						p
							strong сроки изготовления&#32;
							| 15 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/02.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Научный центр сердечнососудистой хирургии им. Бакулева РАМН
					.portfolio-item__descr
						p Монтаж систем, отопления, вентиляции, кондиционирования воздуха.
						p
							strong произведено продукции&#32;
							| 1500 м2
						p
							strong сроки изготовления&#32;
							| 12 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/03.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Художественно производственные мастерские ГАБТ РФ
					.portfolio-item__descr
						p Производство и поставка воздуховодов и фасонных изделий.
						p
							strong произведено продукции&#32;
							| 17000 м2
						p
							strong сроки изготовления&#32;
							| 15 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/04.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Федеральное государственное учреждение культуры «Государственный историко-культурный музей-заповедник «Московский Кремль» Патриарший дворец и собор Двенадцати Апостолов
					.portfolio-item__descr
						p Монтаж систем вентиляции, монтаж системы центрального пылеудаления.
						p
							strong произведено продукции&#32;
							| 400 м2
						p
							strong сроки изготовления&#32;
							| 7 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/05.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title СП Баранцевское, пром. зона Новоселки, Московская область, Чеховский район
					.portfolio-item__descr
						p Монтаж систем вентиляции Офисно-складского комплекса класса «А» 25 000 м2.
						p
							strong произведено продукции&#32;
							| 4700 м2
						p
							strong сроки изготовления&#32;
							| 34 дня

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/06.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Федеральное государственное учреждение культуры «Политехнический музей» г. Москва, Новая площадь д. 3/4
					.portfolio-item__descr
						p Монтаж и обслуживание систем вентиляции, кондиционирования воздуха.
						p
							strong произведено продукции&#32;
							| 1000 м2
						p
							strong сроки изготовления&#32;
							| 14 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/07.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Многофункциональный комплекс «Гостиница Москва», находящийся по адресу: Охотный ряд ул., владение 2
					.portfolio-item__descr
						p Монтаж систем водопровода и канализации, отопления и вентиляции, тепло и холодоснабжения, сплинклерного пожаротушения, электрическое освещение и молниезащита, автоматизация инженерных систем в 24 гостиничных номерах.
						p
							strong произведено продукции&#32;
							| 1100 м2
						p
							strong сроки изготовления&#32;
							| 17 дней

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/08.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title ВУМ магазин на Никольской
					.portfolio-item__descr
						p Производство и поставка воздуховодов и фасонных изделий.
						p
							strong произведено продукции&#32;
							| 1300 м2
						p
							strong сроки изготовления&#32;
							| 2 дня

			.portfolio-item
				//-.portfolio-item__img(style="background-image: url('img/portfolio/01.png');")
				.portfolio-item__img
					img(src="img/portfolio/09.jpg", alt="")
				.portfolio-item__info
					.portfolio-item__title Стадион Лужники к ЧМ по футболу 2018
					.portfolio-item__descr
						p Производство и поставка воздуховодов и фасонных изделий.
						p
							strong произведено продукции&#32;
							| 5000 м2
						p
							strong сроки изготовления&#32;
							| 7 дней
