section#cta-price.cta-price
	.wrapper
		h2.section-header Нужно рассчитать стоимость материалов <br>по спецификации?
		.section-descr Полностью комплектуем вентиляционные системы. Отправьте <br>заявку и получите расчет стоимости сегодня!

		.cta-box.white
			.cta-box__descr
				p <strong>Отправьте список продукции на почту</strong> или позвоните нам для расчета стоимости и сроков изготовления
				p.cta-box__mail zakaz@promtehvent.ru
				p
					a(href="tel:+79998249081", title="title").cta-box__phone +7 (999) 824-90-81


//- Заготовка
//-		.cta-box
			.cta-box__title У вас есть список необходимой продукции?
			.cta-box__descr
				p Отправьте заявку на почту и получите <br>коммерческое предложение уже сегодня!
			.cta-box__mail-btn zakaz@vozduhovod-promteh.ru
