section#contacts.contacts
	.wrapper
		h2.block-header Контакты
		.contacts-wrapper

			.contacts-col
				.contacts-ico
					img(src='./../../img/icons/phone-white.svg', alt='Телефон')
				.contacts-header Телефон:
				.contacts-text
					p
						| По всем вопросам и сотрудничеству
						br
						a.tel.btn(href='tel:+79081733933') +7 (908) 173-39-33
						br
						| (WhatsApp, Viber)

			.contacts-col
				.contacts-ico
					img(src='./../../img/icons/mail-white.svg', alt='Email')
				.contacts-header Email:
				.contacts-text
					p
						| Отправьте нам сообщение через
						br
						a.popup_content.btn(href='#zayavka2') форму обратной связи

			.contacts-col
				.contacts-ico
					img(src='./../../img/icons/vk.svg', alt='Мы ВКонтакте')
				.contacts-header Мы ВКонтакте:
				.contacts-text
					p
						| Удобно общаться через ВКонтакте?
						br
						a(href='https://vk.com/moshatin', target='_blank').btn Юрий
