section.services
	.wrapper

		h2.section-header Наши услуги

		.services-container

			a(href="#").services-item
				img(src="img/usl-01.png", alt="")
				.services-title Арбитраж
				.services-descr Значимость этих проблем настолько очевидна, что новая модель организационной деятельности

			a(href="#").services-item
				img(src="img/usl-02.png", alt="")
				.services-title Аудит
				.services-descr Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Мир текстами запятой пустился прямо реторический!

			a(href="#").services-item
				img(src="img/usl-03.png", alt="")
				.services-title Консультации
				.services-descr Значимость этих проблем настолько очевидна, что новая модель организационной деятельности

			a(href="#").services-item
				img(src="img/usl-04.png", alt="")
				.services-title Регистрация фирм
				.services-descr Значимость этих проблем настолько очевидна, что новая модель организационной деятельности

			a(href="#").services-item
				img(src="img/usl-05.png", alt="")
				.services-title Судебные споры
				.services-descr Значимость этих проблем настолько очевидна, что новая модель организационной деятельности

			a(href="#").services-item
				img(src="img/usl-06.png", alt="")
				.services-title Другие услуги
				.services-descr Значимость этих проблем настолько очевидна, что новая модель организационной деятельности


		a.btn(href="#") Все услуги