.circle3-slider
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/01.jpg", alt="")
            .circle3-name Юлия Цой
            .circle3-descr Генеральный директор «АРЕНА КИНО»
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/02.jpg", alt="")
            .circle3-name Евгений Горман
            .circle3-descr Кинорежиссер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/03.jpg", alt="")
            .circle3-name Алина Савельева
            .circle3-descr Администратор
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/01.jpg", alt="")
            .circle3-name Юлия Цой
            .circle3-descr Генеральный директор «АРЕНА КИНО»
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/02.jpg", alt="")
            .circle3-name Евгений Горман
            .circle3-descr Кинорежиссер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/staff/03.jpg", alt="")
            .circle3-name Алина Савельева
            .circle3-descr Администратор