.circle3-slider
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/01.jpg", alt="")
            .circle3-name Актерский курс
            .circle3-descr (35 уроков)
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/02.jpg", alt="")
            .circle3-name Подготовка к поступлению
            .circle3-descr в театральный и режиссерские ВУЗы
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/03.jpg", alt="")
            .circle3-name Режиссерский курс
            .circle3-descr Как снять свой фильм?
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/04.jpg", alt="")
            .circle3-name Как пройти кастинг в кино?
            .circle3-descr Мастер-классы...
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/05.jpg", alt="")
            .circle3-name Курс художественной фотографии
            .circle3-descr Результат мастера через 5 уроков...
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/kursy/06.jpg", alt="")
            .circle3-name Дополнительно
            .circle3-descr Музыкальные клипы, Авторские песни...
