.comments-slider
    .comments-item
        img.comments-img(src="./../../img/student/01.jpg", alt="")
        .comments-name Саша Абрамова
        .comments-speciality Ученица Актерского курса
        .comments-descr
            p Почему я езжу из другого города почти каждую субботу на занятия киношколы "АРЕНА КИНО"?... Есть очень много причин... Занимательные уроки, много полезной информации, работа профессионалов...
            p Но самая главная, по моему мнению, - это добрые, позитивные и общительные люди! Очень редко можно встретить людей, которые действительно живут своим делом, вдохновляют тебя на работу, помогают меняться в лучшую сторону и, самое главное, ВЕРЯТ и ПОДДЕРЖИВАЮТ каждого! Я таких людей нашла, и я очень благодарна судьбе и каждому человеку, который помог мне познакомиться с такой замечательной командой! ;)
    .comments-item
        img.comments-img(src="./../../img/student/01.jpg", alt="")
        .comments-name Саша Абрамова
        .comments-speciality Ученица Актерского курса
        .comments-descr
            p Почему я езжу из другого города почти каждую субботу на занятия киношколы "АРЕНА КИНО"?... Есть очень много причин... Занимательные уроки, много полезной информации, работа профессионалов...
            p Но самая главная, по моему мнению, - это добрые, позитивные и общительные люди! Очень редко можно встретить людей, которые действительно живут своим делом, вдохновляют тебя на работу, помогают меняться в лучшую сторону и, самое главное, ВЕРЯТ и ПОДДЕРЖИВАЮТ каждого! Я таких людей нашла, и я очень благодарна судьбе и каждому человеку, который помог мне познакомиться с такой замечательной командой! ;)