.bigslider
	.bigslider-item
		.bigslider-img
			img(src="./../../img/slider/sl-01.jpg", alt="")
		.bigslider-box Представление интересов по гражданским делам
		//- img(src="./../../img/slider/sl-01.jpg", alt="")
	.bigslider-item
		.bigslider-img
			img(src="./../../img/slider/sl-02.jpg", alt="")
		.bigslider-box Защита по уголовным делам
		//- img(src="./../../img/slider/sl-02.jpg", alt="")
	.bigslider-item
		.bigslider-img
			img(src="./../../img/slider/sl-03.jpg", alt="")
		.bigslider-box Обслуживание юр.лиц
		//- img(src="./../../img/slider/sl-03.jpg", alt="")
	//- .bigslider-item
		.bigslider-img
			img(src="./../../img/slider/sl-04.jpg", alt="")
		//- .bigslider-box И все это Эксклюзивстудия
		//- img(src="./../../img/slider/sl-03.jpg", alt="")