ul.slider-gallery
    li.slider-gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/03.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/03.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/03.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/03.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/01.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/01.jpg', alt='alt')
    li.slider-gallery-item
        a.popup(href='../../img/gallery/02.jpg', title='title')
            .imggallery
                img(src='../../img/gallery/02.jpg', alt='alt')
