.portfolio-slider
    .portfolio-slide-item
        a.magn-vimeo(href='https://vimeo.com/143035094')
            .slide-img
                img(src='img/sl-001.jpg', alt='alt')
                .btn-play
                    img(src='img/play.png', alt='play')
                .portfolio-slide-title
                    | Название первого проекта очень длинное на пару строк текста, которе не помястятся в одну строку
    .portfolio-slide-item
        a.magn-youtube(href='#')
            .slide-img
                img(src='img/sl-002.jpg', alt='alt')
                .btn-play
                    img(src='img/play.png', alt='alt')
                .portfolio-slide-title
                    | Название второго проекта