.circle3-slider
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/01.jpg", alt="")
            .circle3-name Софья Янкелевич
            .circle3-descr Актер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/02.jpg", alt="")
            .circle3-name Александра Абрамова
            .circle3-descr Актер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/03.jpg", alt="")
            .circle3-name Дарья Спиридонова
            .circle3-descr Актер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/01.jpg", alt="")
            .circle3-name Софья Янкелевич
            .circle3-descr Актер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/02.jpg", alt="")
            .circle3-name Александра Абрамова
            .circle3-descr Актер
    .circle3-item
        a(href="#")
            img.circle3-img(src="./../../img/student/03.jpg", alt="")
            .circle3-name Дарья Спиридонова
            .circle3-descr Актер
