section.team
	.wrapper
		.row
			h2.section-header Наши мастера
			p.deskr У нас работают профессионалы своего дела.<br>Вы можете узнать подробности о каждом мастере и записаться к нему.
			include ../../blocks/slider/element-libs.pug