form(id="top-form", class="form ajax_form af_example top-form", method="post", action="")
	span Оставьте заявку на
	h3 клининговые услуги
	span.top-form-text Можно долго читать наш сайт, <br> но по телефону мы расскажем Вам <br> больше!
	span.error_name
	input(type="text", placeholder="Ваше имя", id="af_name", name="name", value="")
	span.error_phone
	input(type="text", placeholder="Ваш телефон", id="af_phone", name="phone", value="")
	button(class="submit btn", name="submit", type="submit") Отправить