section.topfooter
	.wrapper
		.row
			.topfooter-contacts
				p <strong>Адрес:</strong> МО, г. Одинцово,<br>ул. Маршала Жукова, 1а
				p <strong>Запись по телефонам:</strong> 8 (498) 602-38-42,<br>8 (498) 602-38-44,<br>+7 (925) 059-85-66
				p <strong>Запись on-line:</strong> <a class="btn" href="#">Онлайн запись</a>
				p <strong>Режим работы:</strong> Ежедневно с 9:00 до 21:00
				p <strong>Email:</strong> akvitania@bk.ru
				p <strong>Оплата услуг:</strong> Наличными деньгами,<br>картами MasterCard и Visa
			.topfooter-map
				.map
			.topfooter-nav
				nav
					ul
						li
							a(href="#") Главная
						li
							a(href="#") Услуги парикмахера
						li
							a(href="#") Косметология
						li
							a(href="#") Ногтевой сервис
						li
							a(href="#") СПА-зона
						li
							a(href="#") Солярий
						li
							a(href="#") Аппаратная косметология
						li
							a(href="#") Инъекционные методики
						li
							a(href="#") Хаммам
						li
							a(href="#") Массаж
						li
							a(href="#") Врач-косметолог
						li
							a(href="#") Акции и Скидки
						li
							a(href="#") Вакансии салона
						li
							a(href="#") Новости салона
						li
							a(href="#") Полезная информация
						li
							a(href="#") О салоне красоты
						li
							a(href="#") Вакансии салона
						li
							a(href="#") Контакты