section.work
	.wrapper
		.row
			.content
				h2.section-header
					span Некоторые
					|  работы
				.work-container.slider2
					.work-item
						a(href="#")
							img(src="img/usl-01.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии
					.work-item
						a(href="#")
							img(src="img/usl-02.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии
					.work-item
						a(href="#")
							img(src="img/usl-03.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии
					.work-item
						a(href="#")
							img(src="img/usl-01.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии
					.work-item
						a(href="#")
							img(src="img/usl-02.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии
					.work-item
						a(href="#")
							img(src="img/usl-03.jpg", alt="")
							.work-item-box
								h3.work-title Свадебные фотосессии

				a.btn.popup_content(href="#top-hidden") Смотреть портфолио