.team-slider
	.team-slide-item
		img.team-img(src="img/team-01.png", alt="")
		h3.team-name Арсеньева Елена
		.team-profession парикмахер универсал
		a.team-readmore Подробнее
	.team-slide-item
		img.team-img(src="img/team-02.png", alt="")
		h3.team-name Соколова Евгения
		.team-profession парикмахер универсал
		a.team-readmore Подробнее
	.team-slide-item
		img.team-img(src="img/team-03.png", alt="")
		h3.team-name Носикова Виктория
		.team-profession парикмахер универсал
		a.team-readmore Подробнее
	.team-slide-item
		img.team-img(src="img/team-01.png", alt="")
		h3.team-name Арсеньева Елена
		.team-profession парикмахер универсал
		a.team-readmore Подробнее