doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header
		include ../includes/menu-adaptiv
		.wrapper
			include ../includes/breadcrumbs
			//- .row
			main
				.box-shadow
					h1 ФТС Новосибирской области благодарит всех участников прошедшего Чемпионата и Первенств НСО!
					span.post-date Опубликовано: 08.05.2018
					img(src="./../../img/news/news-01.jpg", alt="").news-img
					p Дорогие Друзья!
					p Федерация танцевального спорта Новосибирской области благодарит Всех участников Российских соревнований по танцевальному спорту на призы ФТС Новосибирской области, Закрытого Чемпионата и Первенства Новосибирской области по танцевальному спорту 4-5 ноября 2017 года!
					p Центр спортивной подготовки «Заря» распахнул свои двери для 692 танцевальных дуэтов в различных возрастных группах.
					p Мы выражаем слова благодарности Всем спортсменам, тренерам, родителям и, конечно, болельщикам наших танцевальных пар. Это было яркое событие в танцевальной жизни нашей Новосибирской области!!! Желаем всем творческих успехов и новых побед!
					p С Уважением Президиум ФТС Новосибирской области!

				//- include ../includes/sidebar
		//- include ../includes/section-news
		include ../includes/footer
		include ../includes/hidden
		//- Скрытый блок с формами
		include ../includes/sourse
		//- Подключаем скрипты